:root {
  --main_color: #0E3570;
  --accent_color: #A2E6FC;
  --text1_color: #fff;
  --text2_color: #3A3C71;
  --hover_color: #2E528F;
  --background1_color: #EBF1F8;
  --background2_color: #D12E2D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background1_color);
}

.back_button_div {
  width: 100%;
  padding: .25rem;
}
.back_button {
  font-size: 2rem;
}
.back_button.blue {
  color: var(--main_color);
}
.back_button.cyan {
  color: var(--accent_color);
}

.home {
  display: block;
  text-align: center;
  max-width: 100vw;
}

.home .mobile {
  display: block;
  text-align: center;
  padding: 2vw;
}

.mobile .images_m {
  display: flex;
  max-width: 100%;
  margin-bottom: .75rem;
}

.mobile .images_m img {
  flex: 0 0 25%;
  max-width: 25%;
}

.mobile .heading_m {
  color: var(--text2_color);
  margin-bottom: .75rem;
}

.mobile .heading_m h3 {
  margin-bottom: .5rem;
}

.mobile .nav_mobile {
  display: flex;
  justify-content: space-between;
  color: var(--text1_color);
  background-color: var(--main_color);
  padding: .5rem 1rem;
  border-radius: 10rem;
  margin-bottom: .75rem;
}

.nav_mobile p {
  margin-left: .5rem;
  text-align: left;
}

.nav_mobile #hamburger {
  display: block;
  align-items: center;
}

.nav_mobile .line {
  display: block;
  background-color: var(--background1_color);
  width: 2.5rem;
  height: .3rem;
  margin: .4rem;
  border-radius: .5rem;
}

.nav_mobile .links_m {
  display: none;
  position: absolute;
}

.nav_mobile .links_m a {
  display: block;
  background-color: var(--main_color);
  color: var(--text1_color);
  padding: .4rem .6rem;
}

.desktop {
  display: none;
  padding: 2vw;
}

.desktop .images_d_1,
.desktop .images_d_2 {
  display: flex;
}

.desktop .images_d_1 img,
.desktop .images_d_2 img {
  flex: 0 0 50%;
  max-width: 50%;
}

.home .gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
  padding: 2vw;
}

.home .gallery button {
  position: absolute;
  font-size: 1.25rem;
  color: var(--main_color);
  background-color: var(--accent_color);
  padding: .375rem;
  border-radius: 50%;
  border: none;
  outline: none;
}

.home .gallery button:first-of-type {
  left: .5vw;
}

.home .gallery button:last-of-type {
  right: .5vw;
}

.home .gallery img {
  display: none;
  max-width: 90vw;
}

.home .gallery img.active {
  display: block;
}

.about_us {
  padding: 2vw;
  padding-top: 3.5vw;
  min-height: 100vh;
  height: 100%; 
  background: linear-gradient(to bottom, var(--accent_color), var(--background1_color));
}

.about_us .text h3 {
  font-size: 1.5rem;
  margin-bottom: .25rem;
}

.about_us .paragraph {
  font-size: .95rem;
  text-align: justify;
  padding: 1vw;
}

.about_us .symbols {
  display: block;
  margin: 1.25rem 0;
}

.about_us .symbol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.about_us .symbol img {
  width: 5rem;
  border-radius: 50%;
}

.about_us .symbol h3 {
  font-size: .95rem;
  width: 10rem;
}

.about_us img {
  max-width: 50vw;
}


/* events.html */

.events {
  display: block;
  text-align: center;
  box-sizing: border-box;
}
.events header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 5rem;
  padding: .5rem 0;
  width: 100%;
  background-color: var(--main_color);
}
.events .back_button_div {
  flex: 0 1 15%;
}
.events .back_button {
  align-self: flex-start;
  justify-self: flex-start;
}

.events .head {
  flex: 0 1 45%;
  align-self: flex-end;
  justify-self: flex-start;
  font-weight: bolder;
  color: var(--text1_color);
}

.events .title {
  position: absolute;
  color: var(--text1_color);
  background-color: var(--background2_color);
  border-radius: 50%;
  right: 2vw;
  padding: 2rem 2rem;
  top: -1.5rem;
}

.events .title h2 {
  position: relative;
  top: .75rem;
}

.events main {
  top: 5rem;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events .event_cards {
  flex: 0 1 70vw;
  display: grid;
  place-items: center;
  gap: 1rem;
  background-color: var(--accent_color);
  padding-top: 1rem;
}

.events .event_card {
  color: var(--text1_color);
  background-color: var(--main_color);
  border-radius: .75rem;
  padding-bottom: .75rem;
  max-width: 10.5rem;
}

.event_card > * {
  margin: .25rem;
}

.event_card img,
.event_card video {
  width: 10rem;
  border-radius: .5rem;
}

.event_card p {
  overflow-wrap: break-word;
  margin: 0 .25rem;
}

.event_card a {
  color: var(--main_color);
  display: inline-block;
  background-color: var(--accent_color);
  padding: .25rem .5rem;
  border-radius: 1rem;

}

.events .future_events {
  flex: 0 0 30vw;
  align-self: flex-start;
  word-wrap: wrap;
  padding: 1vw;
}

.events #upcoming_events {
  position: fixed;
}

.events #upcoming_events > * {
  margin: 10px 0;
}


.events .event_description {
  display: none;
  position: fixed;
}
.events .event_description > * {
  margin: 2.5vw 0;
}

.events img,
.events video {
}

.gallery {
  display: block; 
}
.gallery header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 5rem;
  background-color: var(--bluish_color);
  padding: .75rem .25rem;
}
.gallery .back_button_div {
  display: flex;
  align-items: flex-start;
  flex: 0 1 20%;
}
.gallery .title {
  flex: 0 1 40%;
  display: flex;
  position: absolute;
  background-color: var(--redish_color);
  color: white;
  border-radius: 50%;
  margin-top: -3rem;
  margin-left: 2rem;
  padding: 1.125rem;
  padding-top: 3rem;
}
.gallery .title h1 {
  position: relative;
  font-size: 1.25rem;
  justify-self: flex-end;
}
.gallery .nss_title {
  flex: 1 0 40%;
  color: var(--cyanish_color);
  word-wrap: none;
  text-align: right;
  padding-right: 1rem;
  align-self: flex-end;
}
.gallery .nss_title h3 {
  font-size: medium;
}
.gallery main {
  background-color: var(--cyanish_color);
}
.gallery .gallery_imgs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.gallery .gallery_img {
  height: calc((1/var(--gallery_img_ratio))*var(--gallery_img_width_m));
  margin: .5rem 0;
}
.gallery .gallery_img img {
  width: var(--gallery_img_width_m);
  border-radius: 2rem;
}
.gallery .img_details {
  position: absolute;
  margin: -3rem 0 0 1.5rem;
}
.gallery .img_details h4 {
  font-size: .85rem;
}
.gallery .pagation {
  flex: 0 0 50%;
  width: 100%;
  display: grid;
  position: fixed;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  bottom: 2vh;
}
.gallery .pagation .btn {
  width: 100%;
  padding: 0 1rem;
}
.gallery .pagation .btn:nth-of-type(1) {
  text-align: left;
}
.gallery .pagation .btn:nth-of-type(2) {
  text-align: right;
}
.gallery .pagation button {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}
.gallery .pagation button i {
  color: var(--bluish_color);
  font-size: 1.25rem;
} 


@media only screen and (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }
  .home .mobile {
    display: none;
  }
  .home .desktop {
    display: flex;
    flex-direction: column;
  }
  .home .gallery_photos img {
    max-width: 100vw;
    width: 80vw;
    max-height: calc((9/16)*90vw);
    height: auto;
  }
  .event_cards {
    grid-template-columns: repeat(2, 1fr);
    
  }
  .events .future_events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery header {
    padding: 2vw;
  }
  .gallery .title {
    margin-top: -7.5vw;
    margin-left: 10vw;
    padding: 2vw 3vw;
    padding-top: 7vw;
  }
  .gallery .gallery_imgs {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .gallery .gallery_img {
    place-self: center;
    height: calc((1/var(--gallery_img_ratio))*var(--gallery_img_width_t));
    margin: 0;
  }
  .gallery .gallery_img img {
    width: var(--gallery_img_width_t);
    border-radius: 4rem;
  }
  .events #upcoming_events {
    position: static;
  }
  
  .events .event_description {
    position: static
  }
}

@media only screen and (min-width:1024px) {
  body {
    min-width: 100dvh;
  }
  .home .gallery_photos img {
    width: auto;
    height: 65vh;
  }
  .events .future_events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .event_cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .event_card {
    max-width: 10.5rem;
  }
  .event_card img,
  .event_card video {
    width: 10rem;
  }
  .gallery .gallery_imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .gallery .gallery_img {
    place-self: center;
    height: calc((1/var(--gallery_img_ratio))*var(--gallery_img_width_d));
    margin: 0;
  }
  .gallery .gallery_img img {
    width: var(--gallery_img_width_d);
    border-radius: 4rem;
  }
}




